/* Google Font CDN Link */
@import url('https://photos.app.goo.gl/ManTsZiT4npQHKjQ6');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #6e93f7;
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #4070f4;
}
/* navbar styling */
nav{
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 998;
  transition: all 0.3s ease;
  font-family: 'Ubuntu', sans-serif;
}
nav.sticky{
  background: #4070f4;
  padding: 13px 0;
}
nav .navbar{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
nav .navbar .logo a{
  font-weight: 500;
  font-size: 35px;
  color: #4070f4;
}
nav.sticky .navbar .logo a{
  color: #fff;
}
nav .navbar .menu{
  display: flex;
  position: relative;
}
nav .navbar .menu li{
  list-style: none;
  margin: 0 8px;
}
.navbar .menu a{
  font-size: 18px;
  font-weight: 500;
  color: #0E2431;
  padding: 6px 0;
  transition: all 0.4s ease;
}
.navbar .menu a:hover{
  color: #4070f4;
}
nav.sticky .menu a{
  color: #FFF;
}
nav.sticky .menu a:hover{
  color: #0E2431;
}
.navbar .media-icons a{
  color: #4070f4;
  font-size: 18px;
  margin: 0 6px;
}
nav.sticky .media-icons a{
  color: #FFF;
}

/* Side Navigation Menu Button CSS */
nav .menu-btn,
.navbar .menu .cancel-btn{
  position: absolute;
  color: #fff;
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}
nav .menu-btn{
  color: #4070f4;
}
nav.sticky .menu-btn{
  color: #FFF;
}
.navbar .menu .menu-btn{
  color: #fff;
}

/* home section styling */
.home{
  height: 100vh;
  width: 100%;
  background: url('https://lh3.googleusercontent.com/fife/ALs6j_Fy-iQtqk1Q11qNkiDrxuhnNpbqbJrifLe3NJXUVVWtOnjh7epH_nkjA5VVUMBWJqN2RKR0YS9lJ_0xpeqCjmBcpQbTkM9lLYXTF_LMdj4O7vPc9dAXsOiEMoPi2FofiCK6ouZjas_XZPY06uQy7aKIy9nW4tCrHZkv58-b56Xekl7vaHcTaGzT2GAg9Nm4RZ3_Eox6lkW9EzP7aoie7qAMFJGzuGKhwRRKG4c5aA2F9bFVbSNwWAkiMf63-67Rvut3neHl0raVKzByiE69bbzpLu9iiMtEkudp5IBGDHtvFJn_KGSJgIhbPXHXXBs4V6GbV4hvldZWjv-45FX5uRB8rhGRt_IdMJ8BIjwR7lRU9lZHyu9inB1DX8QPT3GKxLIXYEZwytLMCI5lGOJn9Zw2HuCKqInmFcveZENVf2jDqiOyXn9MjMcpHjXSd1GfLFL2Ld0Epbhs-fBEcgqAdKh9ewFuYM7AUUOV7IZ-54mQ1LeAjbxalRyQY3fey2Mqyh0jHY8fguzN_deFZEREpkRP1A9iD6lRK2qIOhpb85w9v-7eOFM1P0ASZePhqMAPXFqPIc1k2WfwXJVQ6O20IKpVKYRVjY9IBvg2xfdUm46fKGkD4XxJNR9ttYprzKngL7bf9fotoEk7dKofRLnyGvmtW5ZYzTAOD6Qu-S6CN_a_7Mg58E3w8JF5j-5uVKHW0ZKHAfEhun_fmDhF5jOhvIdCiNxnYdsQXKRKN75gsX07JiKe2QuUk3soRSMSK6BL75ehlmtcomTXzUf8HcAjoBJdfjXWOs65_WwVyMVGum-bmTiqJjZmz3VPYY_P5A3Lc_uOFhoP30g4gTTQa9ojC8zLfV1VLn1A4H3YN3zxrjqN8s8rSB4koirZ0KgzIPrPimYwYYlEwZ4K4hJLrpAG6kaHqxCUqXcnzYhgobppIpPBEbStzq3RXDK6Kg7LAFtOd1Sfh29nfelXibuxMGa1kn_dWK5ihjiWc7Cj6i6PIbIBsvMtpL91uF0vnMCWB6R8C3Upy_b9GErt_cdBj89117_9ki_LmprsA9y7qNP9mL7UdbGUCsozZg5vZZynl2MJipdOy5Urb3KC3YxyH4C3FvJjAANjn2qkcgxi25a1EJ3Ozy9mXJEsRXNjj-dCk4wX2ICAGTHiCCp081fJN9_WU0lyYV98I4P6zNuRXxZWsIxPuxFBQJH76TIbt5rUJnp287I_Q-VvKlfGFamWMLVmdZhrmRoixMpyYAM8MNA8Mxp2HsNXoyu_HnLUQGtjdZD8kPvdY1TavlA63ivgjxelwm_yMRstU8EZvRd0sze28KdIMi3PNL_RdG4G_WB-vE1YWKqff2AOpbHdridSLBChqFWGEYkg0saAIhUkZRj6dYcsSETXq-khQzZrRULEF4Mnh-Lf0jN0a1S0XOoQgL67IaQe0zBDdWJPLUrYPmuEW3lsyVAcRgAuTGut8AnExTRnq4UbN5dTPZoDi3jKRHR_yrJ365uRyRXYt-dpr7kXaHH81XvWKjUSAy3-x5JXrxiIPVIZpbFqfoVBc9P9vahwf2JFNnMC0clVg_vXYmUwcnWqdJEwBmJG81pdQRYya6s61CjIsq8n-Pz624W6Hvn1ZE2lHtLW5OhJKocSiSGF5MmBolnobwuCLGXdOnBJ5cmbfibVivN5lIYRnFqVc3HPVZlQhknTX2cjb_AdInwgb9GXp5-lP7VzVY92WCXRK1ONCafkOXeirYWEq5CTyGX6G1bykMZg12HHn0PkNT-yG1jWNqGIfG6dJrcLfn-7yWvsAuL27_pshKdRzpisVmXdI-hgbvVS2L8HcgJC6FLLktaUxcPF-BeZOuTJv8RXNzK2nBomXgTKOoso5C4ZW4QR4tMgqrOjjB5SgfPVcrH_Rqxlp9J5mALvvOR2-F1B_HX97tz9RaJxZHlnDH3b9WijfP4wJ12mr_lBoFKRoiGgM80sSA6mh8zTWHES3KFkg7oKwJBNQwRG8M6FYbvW1nd-xMequFCU3vX16vxpzwEXe6vuvAOHqheTWJ_1_U4HFz77pXYUNzvxjIcOSbZiX3g0vCg6RuFIjjdTSqgsebueNQL8cy0AFVZ72TKwgy_M0fEBMvYTS34sCooz1zmjI7q8ccTq5ncaxM4_xGcIQF4TTnUhkoygbUH9lTEC-58WaikKobZYY9Wk2ErF75Brvs8nx5xySHYhcuw3DDQz31vReatsSQ6u-11fbjxzlDKOl-KPoe0lam37FA8E-CZyd9j0EdR-j0W8DV7wKKceMtHqGqydNzaoc7giVQzOT38ixIg7VP07J2TgH5SWbcL3LngeXAOLJMqP1bk-4c0M-d2M5tzYg-H40zhN7_we0xAwQ46uRdSK3VcN7c1oskBY0voBJC-OEi3n__QJ1Wvk0yFSeEcRb-Iw7sXI4iC1i9SBSbkHfKCZ0ugkWFxRxXWslT2rhk07gwDVoSObYerxa0AtCCT3uDn7AnBG7z98H1e2Z2GUNyfKFYBJcsqOA6U9OF-AEW-5X1-Jt3eBXXUoLAJ93wmdHOIQ5pK7hF_XniEzqdOricUwJlDf6ekcPuryglBA6RTz7itMFzzhkHldeFH6kb3ZEox616aqhBeFUfnsfqDeYQoMamDf2x_6dIzMpah8Tbl34rN5Odgja5rFS_kE6C4dYs2lIIbW82-0ooiixm19Cc8zPKu7eykm1v5yRf2fWw7_ue1OqUcbLx08zSIVUA6rXCyLIVT_g23F_r8Wt9B2LvJpo0Dv1WvjjaaB1Gv2kqL0vKqpuxl6qJ95zHgIfPH5VGL6cnPL1syCJoU0W1HFaWhFlFuKgeiHK0PGC5DAfuvcBud68U8Lw4VlvAFMNFpauXL9HTi0GjHJYEhv3iv3iQqBKbeB4_i_gOnnF57M3NnJOTAaTtzIgTXxgBIheHFKNY5Yb1XIa8fp5cztvJqUKQxoIvSbb8gBfJg-3lpj_Qe0vp1ijmNRISzKbOIouiYvIXsDaFOa7hpeoGjyHil2MBdYRBeZdU_4XVcUkAL831wkV3ww3BUGhM4yfnDmg8wdGUwYVZo0atgYNRw7qCLvQd8CCYSMbl2oa1md5GbPNoI1nmA0m325g0GUoyeUrCtgiAheL8j-CkXsbfvDsoAX32Sn_jDBq6ojlhZhayXMK3fgVdvOEd0lw8CrIK6VLv9rWsdEAErmiuOtfEdoIgFFlWcGbZTls_fn=s510-w510-h489-s-no?authuser=0') no-repeat;
  background-size:cover;
  background-position:center;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}
.home .home-content{
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home .text-one{
  font-size: 25px;
  color: #0E2431;
}
.home .text-two{
  color: #0E2431;
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .text-three{
  font-size: 40px;
  margin: 5px 0;
  color: #4070f4;
}
.home .text-four{
  font-size: 23px;
  margin: 5px 0;
  color: #0E2431;
}
.home .button{
  margin: 14px 0;
}
.home .button button{
  outline: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 25px;
  font-weight: 400;
  background: #4070f4;
  color: #fff;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.4s ease;
}
.home .button button:hover{
  border-color: #4070f4;
  background-color: #fff;
  color: #4070f4;
}

/* About Section Styling */
/* Those Elements Where We Have Apply Same CSS,
 I'm Selecting Directly 'Section Tag' and 'Class'  */
section{
  padding-top: 40px;
}
section .content{
  width: 80%;
  margin: 40px auto;
  font-family: 'Poppins', sans-serif;
}
.about .about-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .title{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
section .title span{
  color: #0E2431;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}
section .title span::before,
section .title span::after{
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: #4070f4;
  left: 0;
  bottom: 0;
}
section .title span::after{
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}
.about .about-details .left{
  width: 45%;
}
.about .left img{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 12px;
}
.about-details .right{
  width: 55%;
}
section  .topic{
  color: #0E2431;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}
.about-details .right p{
  text-align: justify;
  color: #0E2431;
}
section .button{
  margin: 16px 0;
}
section .button button{
  outline: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 25px;
  font-weight: 400;
  background: #4070f4;
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.4s ease;
}
section .button button:hover{
  border-color: #4070f4;
  background-color: #fff;
  color: #4070f4;
}

 /* My Skills CSS */
 .skills{
   background: #F0F8FF;
 }
 .skills .content{
   padding: 40px 0;
 }
 .skills .skills-details{
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 .skills-details .text{
   width: 50%;
 }
 .skills-details p{
   color: #0E2431;
   text-align: justify;
 }
.skills .skills-details .experience{
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.skills-details .experience .num{
  color: #0E2431;
  font-size: 80px;
}
.skills-details .experience .exp{
  color: #0E2431;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 500;
  margin: 0 6px;
}
.skills-details .boxes{
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.skills-details .box{
  width: calc(100% / 2 - 20px);
  margin: 20px 0;
}
.skills-details .boxes .topic{
  font-size: 20px;
  color: #4070f4;
}
.skills-details .boxes .per{
  font-size: 60px;
  color: #4070f4;
}
.menu-media-icons{
 display: none;   
}
/* My Services CSS */
.services .boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.services .boxes .box{
  margin: 20px 0;
  width: calc(100% / 3 - 20px);
  text-align: center;
  border-radius: 12px;
  padding: 30px 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  cursor: default;
  transition: all 0.4s ease;
}
.services .boxes .box:hover{
  background: #4070f4;
  color: #fff;
}
.services .boxes .box .icon{
  height: 50px;
  width: 50px;
  background: #4070f4;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  color: #fff;
  margin: 0 auto 10px auto;
  transition: all 0.4s ease;
}
.boxes .box:hover .icon{
  background-color: #fff;
  color: #4070f4;
}
.services .boxes .box:hover .topic,
.services .boxes .box:hover p{
  color: #0E2431;
  transition: all 0.4s ease;
}
.services .boxes .box:hover .topic,
.services .boxes .box:hover p{
  color: #fff;
}
/* Contact Me CSS */
.contact{
  background: #F0F8FF;
}
.contact .content{
  margin: 0 auto;
  padding: 30px 0;
}
.contact .text{
  width: 80%;
  text-align: center;
  margin: auto;
}

/* Footer CSS */
footer{
  background: #4070f4;
  padding: 15px 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
footer .text span{
  font-size: 17px;
  font-weight: 400;
  color: #fff;
}
footer .text span a{
  font-weight: 500;
  color: #FFF;
}
footer .text span a:hover{
  text-decoration: underline;
}
/* Scroll TO Top Button CSS */
.scroll-button a{
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: #4070f4;
  padding: 7px 12px;;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
  display: none;
}

/* Responsive Media Query */
@media (max-width: 1190px) {
  section .content{
    width: 85%;
  }
}
@media (max-width: 1000px) {
  .about .about-details{
    justify-content: center;
    flex-direction: column;
  }
  .about .about-details .left{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .about-details .right{
    width: 90%;
    margin: 40px 0;
  }
  .services .boxes .box{
    margin: 20px 0;
    width: calc(100% / 2 - 20px);
  }
}
@media (max-width: 900px) {
  .about .left img{
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 750px) {
  nav .navbar{
    width: 90%;
  }
  .menu-media-icons{
   display: block; 
  }
  nav .navbar .menu{
    position: fixed;
    left: -100%;
    top: 0;
    background: #0E2431;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
  }
  .navbar.active .menu{
    left: 0;
  }
  
  nav .navbar .menu a{
    font-size: 23px;
    display: block;
    color: #fff;
    margin: 10px 0;
  }
  nav.sticky .menu a:hover{
    color: #4070f4;
  }
  nav .navbar .media-icons{
    display: none;
  }
  nav .menu-btn,
  .navbar .menu .cancel-btn{
    display: block;
  }
  .home .text-two{
    font-size: 65px;
  }
  .home .text-three{
    font-size: 35px;
  }
  .skills .skills-details{
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .skills-details .text{
    width: 100%;
    margin-bottom: 50px;
  }
  .skills-details .boxes{
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .services .boxes .box{
    margin: 20px 0;
    width: 100%;
  }
  .contact .text{
    width: 100%;
}
}

@media (max-width: 500px){
  .home .text-two{
    font-size: 55px;
  }
  .home .text-three{
    font-size: 33px;
  }
  .skills-details .boxes .per{
    font-size: 50px;
    color: #4070f4;
  }
}
.container .text{
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container form{
  padding: 30px 0 0 0;
}
.container form .form-row{
  display: flex;
  margin: 32px 0;
}
form .form-row .input-data{
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}
form .form-row .textarea{
  height: 70px;
}
.input-data input,
.textarea textarea{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
}
.input-data input:focus ~ label, .textarea textarea:focus ~ label,
.input-data input:valid ~ label, .textarea textarea:valid ~ label{
  transform: translateY(-30px);
  font-size: 14px;
  color: #3498db;
}
.textarea textarea{
  resize: none;
  padding-top: 10px;
}
.input-data label{
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.textarea label{
  width: 100%;
  bottom: 40px;
  background: #fff;
}
.input-data .underline{
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.input-data .underline:before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before{
  transform: scale(1);
}
.submit-btn .input-data{
  overflow: hidden;
  height: 45px!important;
  width: 25%!important;
}
.submit-btn .input-data .inner{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  transition: all 0.4s;
}
.submit-btn .input-data:hover .inner{
  left: 0;
}
.submit-btn .input-data input{
  background: none;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
@media (max-width: 700px) {
  .container .text{
    font-size: 30px;
  }
  .container form{
    padding: 10px 0 0 0;
  }
  .container form .form-row{
    display: block;
  }
  form .form-row .input-data{
    margin: 35px 0!important;
  }
  .submit-btn .input-data{
    width: 40%!important;
  }
}
.container{
  max-width: 800px;
  background: #fff;
  width: 800px;
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  bottom: 50px;
  position: relative;
}

input:focus{
  outline: none;
}

/* #hire{
  text-align: center;
  font-size: 190%;
} */
.text{
  /* margin-top: 110px; */
}
